@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f4fcff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Responsive */
@media (min-width: 1024px) and (min-height: 700px) {
  body {
    align-items: center;
  }
}
